@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Din+Condensed');

/*--- Header ---*/
body {
	font-family: 'Courier New', Georgia , serif;
	margin: 0px;
	background-color: #8d4e35;
}
#home {
	background-image: url("assets/TERRAFIRMA_065resize.jpg");	
}
#join  {
	color: #ffffff;
	background-color: #8d4e35;
}
#join a {
	color: #ffffff;
}
#join a:hover {
	color: #ff8c69;
}

#join .container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 60%;
}
#about {
	background-color: #8d4e35;
	color: #ffffff;
}
#about a {
	color: #ffffff;
}
#about a:hover {
	color: #ff8c69;
}
#about .container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 60%;
}



/*--- Logo ---*/
img {
	width: 150px;
}
img.invert {
	filter: invert(100%);
}

/*--- Navigation ---*/
.nav {
	font-family: 'Din Condensed', Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 1.5px;
    text-align: center;
    padding-top: 15px;
}
.nav a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

.nav a:first-child {
	margin-right: 25px;
}
.nav a:last-child {
	margin-left: 25px;
}

.nav a:hover, a:focus a:visited{
	color: #ff8c69;
	text-decoration: none;
}

/*--- Content ---*/
.container {
	text-align: center;
	padding: 20px 0px;
}
.container h2 {
	font-size: 80px;
}

/*--- Footer ---*/
.footer {
	font-family: 'Din Condensed', sans-serif;
	font-size: 12px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
    width: 100%;
    bottom: 0px;
    margin-bottom: 25px;
}
.footer span {
}

.footer span:nth-child(2) {
    margin: 0 25px;
}

.footer a {
	color: black;
}



